<div class="spime-details">
  <p><%= @spime.description %></p>
  <p><%= @spime.image %></p>
  <p><%= @spime.public %></p>
  <p><%= @spime.materials %></p>
  <p><%= @spime.date_manufactured %></p>
</div>