<header>
  <p>Spime sighting!</p>
</header>

<div id="spime_checkin_div"></div>

<%= render @spime %>

<%= render 'spime_details' %>

<%= semantic_form_for [@spime, @sighting] do |form| %>

  <%= form.inputs do %>
    <%= form.input :finder_person_name, :label => "Your Name" %>
    <%= form.input :location_name %>
    <%= form.input :longitude, :as => :hidden %>
    <%= form.input :latitude, :as => :hidden %>
  <% end %>

  <%= form.buttons %>
<% end %>

