<header>
  <p>Spime Details</p>
</header>

<%= render @spime %>

<%= render 'spime_details' %>

<%= gmaps4rails(@sightings_json) %>

<%= render 'spime_sightings' %>

<%= render 'spime_qrcode' %>

<%= link_to raw('&larr; Back to Spimes'), spimes_path %>

