div.tabbable
  ul.nav.nav-tabs
    li.active
      a(href='#tab1', data-toggle='tab')
        |Lists of #{title}
    li
      a(href='#tab2', data-toggle='tab')
        |Maps of #{title}
  div.tab-content
    div.tab-pane.active(id='tab1')

      table.table.table-striped
        tr
          th Name
          th Owner
          th Description
          th Privacy
        each spime in spimes
          tr
            td
              a(href='/spimes/#{spime.id}') #{spime.name}
            td #{spime.description}
            td #{spime.owner.email}
            td #{spime.privacy}              
    div.tab-pane(id='tab2')
      p A google maps view showing all public spimes will go here.
