
table.table.table-bordered
  tr
    td
      Strong
        |Name
    td
      =spime.name
  tr
    td
      Strong
        |Description
    td
      =spime.description
  tr
    td
      strong
        |Owner
    td
      a(href='/account/#{spime.owner.email}') #{spime.owner.email}
  tr
    td
      strong
        |Privacy
    td
      =spime.privacy
  
    tr
      td
        strong
          |Media
      td
        if spime.photo
          img(src=spime.photoUrl)
        else if locals.user_id == spime.owner._id
  
          form.form-horizontal(action='/spimes/image', method='post', enctype='multipart/form-data')
            input(type='hidden', name='_spime', value='#{spime.id}')

            div.control-group
              label.control-label(for='imageTitle') Image Title
              div.controls
                input(type='text', id='imageTitle', name='imageTitle')
          
            div.control-group
              label.control-label(for='image') Image
              div.controls
                input(type='file', id='image', name='image')

            div.control-group
              div.controls
                button.btn(type='submit')
                  | Upload

  
  if locals.user_id == spime.owner._id
    tr
      td
        strong
          |Checkin URL
      td
        =spime.checkin_url
  
    tr
      td
        strong
          |QR Code
      td
        include _qrcode
    
        
    tr
      td
      td
        p
          a.btn(align=left, href='/spimes/edit/#{spime.id}') Edit
        p
          form(action='/spimes/#{spime.id}', method='post', name="logout")
            input(type='hidden', name='_method', value='delete')
            button.btn(type='submit') Delete