div.tabbable
  ul.nav.nav-tabs
    li.active
      a(href='#tab1', data-toggle='tab')
        |Map of #{title}
    li
      a(href='#tab2', data-toggle='tab')
        |List of #{title}
  div.tab-content

    div.tab-pane.active(id='tab1')
      div(style="height: 500px; width: 800px;")
        div(style="height: 100%; width: 100%;", id='map-canvas')

    div.tab-pane(id='tab2')
      table.table.table-striped
        tr
          th Thumbnail
          th Name
          th Description
          th Owner
          th Privacy
        each spime in spimes
          tr
            td
              if spime.thumbUrl
                img(src='#{spime.thumbUrl}')
            td
              a(href='/spimes/#{spime.id}') #{spime.name}
            td #{spime.description}
            td 
              img.avatar(src="#{spime.owner.tinyIconUrl}") 
              a(href="/account/#{spime.owner._id}") 
                if spime.owner.nickname
                  |#{spime.owner.nickname}
                else
                  |#{spime.owner.email}
            td #{spime.privacy}              



|<script>
|var map;
|function initialize() {
|  var mapOptions = {
|    zoom: 10,
|    mapTypeId: google.maps.MapTypeId.ROADMAP
|  };
|  map = new google.maps.Map(document.getElementById('map-canvas'),
|      mapOptions);
|  var latlngbounds = new google.maps.LatLngBounds();
for spime in spimes
  if spime.last_sighting && spime.last_sighting.latitude && spime.last_sighting.longitude
    |lat = #{spime.last_sighting.latitude}
    |lng = #{spime.last_sighting.longitude}
    |latlngbounds.extend(new google.maps.LatLng(lat,lng));
    |marker = new google.maps.Marker({
    |  position: new google.maps.LatLng(lat, lng),
    |  map: map,
    |  title:"#{spime.name}",
    |});
    |contentString = "Spime: <a href=/spimes/#{spime._id}>#{spime.name}</a>";
    if spime.photo
      |contentString += "<br /><img src=#{spime.photo.compUrl}>";
    |contentString+= "<br />Last Sighting: #{spime.last_sighting.location_name}";
    |contentString+= "<br />Last Seen by: #{spime.last_sighting.checkin_person}";
    |listenMarker(marker, contentString);
|  map.setCenter(latlngbounds.getCenter());
|  map.findBounds(latlngbounds);
|}
|function listenMarker(marker, contentString) {
|  google.maps.event.addListener(marker, 'click', function() {
|    new google.maps.InfoWindow({ content: contentString }).open(map, marker);
|  });
|}
|function loadScript() {
|  var script = document.createElement('script');
|  script.type = 'text/javascript';
|  script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
|      'callback=initialize';
|  document.body.appendChild(script);
|}
|window.onload = loadScript;
|</script>

|<script type='text/javascript'>
|$(document).ready(function () {
|  if ($(".tooltips").length) {
|    $(".tooltips").tooltip();
|  }
|});
|</script>
