extends ../../../../views/layout

block content
    
  h2 Account Details
  h4 Email: #{user.email}
  h4 Owner: #{spime.owner.email}
  h4 Description: #{spime.description}
  h4 Privacy: #{spime.privacy}
  h4 Checkin Url: http://localhost:3000/checkin/#{spime.uuid}

  